<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BENTO, <%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <p>
      You have successfully signed up to BENTO,
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    
    <p>Articles might interest you</p>
    <% Article.all.each do |a| %>
    <a href="<%= a.link %>"> <%= a.title %> </a>
    <% end %>
  </body>
</html>