<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="display:flex; flex-direction: column; flex-wrap:wrap; justify-content: center; align-items: center;">
       <img src="https://cdn.iconscout.com/icon/free/png-256/bento-box-food-plate-fastfood-symbol-emoj-30704.png" style="z-index: -1; width: 200px;">
        <h1 style="z-index: 0; margin-top: -71px; margin-left: -15px; font-size: 70px; color: lightgray; text-shadow: 6px 2px black; margin-bottom: 0px;">Welcome</h1>
        <h2 style="justify-content: center; align-items: center;">to BENTO,</h2>
        <h1> <%= "#{@user.first_name} #{@user.last_name}" %></h1>
        <p>
          You have successfully signed up to BENTO!
        </p>
        <div style="border:2px solid gray; border-radius:20px; padding: 5px;align-items: center; display: flex; flex-direction: column;">
          <img src="https://janellohm.files.wordpress.com/2013/07/programmers-funny-pictures-coding-jokes.jpg?w=300&h=262" style="height: 250px; border-radius:20px;">
          <h3 style="">Past with us!</h3>
        </div>
        <p>
          To login to the site, just follow this link: <span style="font-weight: bold"><%= link_to 'Bento', @url %>.</span>
        </p>

    </div>
  </body>
</html>