    <%# ====header image==== %>
    <div class="header">
        <img src="https://i.imgur.com/SXasI9n.png", style="width:100%;">
    </div>

<<div class='rounded bg-white pt-3 mt-5 mb-5'>
    <%# ====PROBLEM==== %>
  <div class='container-fluid mx-auto'>
      <h1 class='text-center'>- The <strong>Problem</strong> -</h1>
      <blockquote class="blockquote text-center">
      <p class="mb-0"><strong><br>Congratulations!</strong> You've taken your first steps in learning to code.
        <br>You've done the tutorials, you know the fundamentals of programming such as 
        <br>functions and loops and maybe you've built a simple game such as Boggle Board. 
        <br>But still you have your doubts and questions...</p>
      </blockquote>
      
      <%# ====list=== %>
      <blockquote class="blockquote">
<ul>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-4 col-md-4">
       <li><strong>What</strong> do I learn next?</li>
    </div>
  </div>
 <div class="row justify-content-center">
    <div class="col-xs-4 col-md-4">
      <li><strong>How</strong> do I keep up to date?</li>
    </div>
  </div>
 <div class="row justify-content-center">
    <div class="col-xs-4 col-md-4 col-xl-">
      <li><strong>Where</strong> can I find projects?</li>
    </div>
  </div>
</div>
</ul>
        <%# ===end of list=== %>
      </blockquote>

      <blockquote class="blockquote text-center">
      <p>With the massive amount of articles, videos, podcasts and tutorials floating around the Internet,
      <br>it can be hard to choose the right direction.</p>
      </blockquote>

      <%# ====Solution==== %>
      <h1 class='text-center pt-5 mt-5'>- The <strong>Bento Solution </strong>- </h1>
      <blockquote class="blockquote text-center">
      <p><br>Inspired by the aesthetically pleasing and nutritious bento meals from Family Mart, 
        <br>'Bento' aims to provide a similar service for the programmer's mind. 
        <br><br><strong>Every week,</strong> a curated 'bento' containing a relevent article, podcast, 
        <br>video and project will be sent to your inbox.
        <br>How do we curate all this content for you?
        <br><br>Simple! Just tell us what programming language you're learning, 
        <br>what kind of developer you are or want to be and
        <br>what programming topic you're currently interested in.</p>
        <div class="blockquote-footer">Dave from <cite title="Source Title">Bento</cite><div>
      </blockquote>
      </div>
      

  <div class='sign-up d-flex justify-content-center'>
      <%= button_to 'Sign Up Now', sign_up_path, :method => :get, class:'btn btn-primary btn-lg mb-3' %>
  </div>
</div>