<div class='container-fluid mx-auto'>
    <h1>The Problem</h1>
    <p>Congratulations! You've taken your first steps in learning to code. You've done the tutorials, you know the fundamentals of programming such as functions and loops and maybe you've built a simple game such as Boggle Board. Maybe you're now asking yourself the following questions.</p>
    <ul>
        <li>What do I learn next?</li>
        <li>How do I keep up to date?</li>
        <li>How do I keep my skills sharp?</li>
        <li>What projects can I do to sharpen my skills?</li>
    </ul>
    <p>With the amount of articles, videos, podcast and tutorials floating around the Internet, it can be hard to choose. This is where Bento comes in.</p>
    <h1>The Solution? Bento</h1>
    <p>Every week, a 'bento' containing a curated selection of one article, podcast, video and a project will be sent to your inbox. How do we curate all this content for you? Simple, just tell us what programming language you're learning, what kind of developer you are or want to be and what technology related topic you're currently interested in.</p>
</div>