<div class='container-fluid mx-auto'>
    <h1 class='text-center'>- The Problem -</h1>
    <p>Congratulations! You've taken your first steps in learning to code. You've done the tutorials, you know the fundamentals of programming such as functions and loops and maybe you've built a simple game such as Boggle Board. But still you have your doubts and questions...</p>
    <ul>
        <li>What do I learn next?</li>
        <li>How do I keep up to date?</li>
        <li>What projects can I do to sharpen my skills?</li>
    </ul>
    <p>With the massive amount of articles, videos, podcasts and tutorials floating around the Internet, it can be hard to choose the right direction.</p>
    <h1 class='text-center'>- The Solution? -<br/> Bento</h1>
    <p>Inspired by the aesthetically pleasing and nutritious bento meals from Family Mart, 'Bento' aims to provide a similar service for the programmer's mind. Every week, a curated 'bento' containing a relevent article, podcast, video and project will be sent to your inbox. How do we curate all this content for you? Simple! Just tell us what programming language you're learning, what kind of developer you are or want to be and what programming topic you're currently interested in.</p>
</div>

<div class='sign-up'>
    <%= button_to 'Sign Up Now', sign_up_path, :method => :get, class:'btn btn-primary btn-lg btn-block' %>
</div>