<h1>Edit your info, <%= @user.first_name %></h1>
<%= form_with model: @user, local: true do |form| %>
    <%= render partial: '/users/edit_info', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>