
<div id="edit-info-container">
  <h1>Profile</h1>
  <%= form_with model: @user, local: true do |form| %>
      <%= render partial: '/users/edit_info', object: form %>

      <div class="submit-field">
        <%= form.submit class: 'btn btn-outline-primary'%>
      </div>
    <% end %>
</div>

<div id="edit-preferences-container">
  <h1>Preferences</h1>
  
</div>