<h1>Welcome to Bento</h1>
<br>
<% if !signed_in? %>
  <div id="clearance" class="sign-in">

    <%= render partial: 'login' %>

  </div>

 
  <div class="d-inline-flex flex-column flex-wrap justify-content-center w-25">
   <%# LOG-IN => BUTTON %>
  <button type="button" class="btn btn-outline-primary rounded-pill m-2" data-toggle="modal" data-target="#exampleModal">
    Log In
  </button>

  <%# GOOGLE => BUTTON %>
  <%= link_to "/auth/google_oauth2", class: "btn btn-outline-primary rounded-pill m-2" do %>
  <img style="width:21px;" src="https://cdn.freebiesupply.com/logos/large/2x/google-icon-logo-png-transparent.png" class="rounded float-left">
  Sign in with Google
    <% end %>

  <%# GITHUB => BUTTON %>
  <%= link_to "/auth/github", class: "btn btn-outline-primary rounded-pill m-2" do %>
  <img style="width:21px;" src="https://image.flaticon.com/icons/svg/25/25231.svg" class="rounded float-left">
  Sign in with Github
    <% end %>
  </div>

  <br></br>
  <h4>Don't have an account?</h4>
  <div class="d-inline-flex flex-column flex-wrap justify-content-center w-25">
  <%# SIGN UP => BUTTON %>
  <%= link_to 'Sign Up', sign_up_path, class: "btn btn-outline-primary rounded-pill m-2" %>
  </div>

<br>
</br>


<% end %>


