
<div class="text-center">
  <h1>Welcome to Bento</h1>
  <br>
  <% if !signed_in? %>
    <div id="clearance" class="sign-in">
      <h3>Login</h3>

      <%= render partial: 'login' %>

    </div>

    
    <button type="button" class="btn btn-outline-primary mr-sm-2 rounded-pill col-sm-3" data-toggle="modal" data-target="#exampleModal">
     <%= image_tag "bento-box.png", class: 'rounded float-left login-icon' %>
      Log In into BENTO
    </button>

    <%= link_to "/auth/github" do %>
      <div class=" btn btn-outline-primary mr-sm-2 col-sm-3 rounded-pill" href="/auth/github">
      <img style="width:28px;" src="https://www.techgirlz.org/wp-content/uploads/2016/12/github-logo.png" class="rounded float-left">
      Sign in with Github
      </div>
    <% end %>
    

  <%= link_to "/auth/google_oauth2" do %>
   <div class="btn btn-outline-primary mr-sm-2 col-sm-3 rounded-pill" href="/auth/github">
    <img style="width:28px;" src="https://www.appythings.nl/wp-content/uploads/2018/06/google-logo-icon-PNG-Transparent-Background.png" class="rounded float-left">
    Sign in with Google
      </div>
  <% end %>
  

  <br>
  </br>
      <h3>Have not an account?</h3>

        <form action="/sign_up">
          <input type="submit" value="Sign up" class="btn btn-outline-primary mb-2 mr-sm-2 col-sm-3 rounded-pill">
        </form>


  <% end %>


</div>