<h1>Bento</h1>

<div id="clearance" class="sign-in">
  <h2>Login</h2>

  <%= render partial: 'login' %>

</div>

<div id="clearance" class="sign-up">
  <h2>Sign Up</h2>

  <%= form_for @user do |form| %>
    <%= render partial: 'form', object: form %>

    <div class="submit-field">
      <%= form.submit class:'btn btn-outline-primary' %>
    </div>
  <% end %>
</div>
