<div class='bg-white rounded'>
  <div id="clearance" class="password-reset w-75 p-3 align-center mx-auto">
    <div class='d-flex justify-content-center'>
      <%= image_tag('/check-mark.png', size:'300') %>
    </div>
    <h2 class='text-center'>Password Reset Email Sent</h2>
    <p class='text-center'>An email has been sent to your email address.<br/> Follow the directions in the email to reset your password.</p>
    <div class='d-flex justify-content-center'>
      <%= button_to 'Done', welcome_index_path , class:'btn btn-primary d-flex align-center', :method => :get %>
    </div>
  </div>
</div>
