<h1 class="all articles p-4 m-0 text-center">All YOUR tasks</h1>

<div id="feed-container">
  <%= render "dashboards/show" %>
</div>

<script>
    $(".card-link").click(function (e){
        $("#" + e.target.dataset.check).removeClass("d-none")
    })
</script>