<h1>Discover what's interesting today</h1>
<h2>Articles</h2>
<ul>
  <li>Get the 5 most recent articles</li>
  <li>Show more button that will link to user_articles</li>
</ul>

<h2>Podcast</h2>
<ul>
  <li>Get the 5 most recent podcast</li>
  <li>Show more button that will link to user_podcast</li>
</ul>

<h2>Articles</h2>
<ul>
  <li>Get the 5 most recent articles</li>
  <li>Show more button that will link to user_articles</li>
</ul>