// Place all the styles related to the about_bento controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-bento{
  padding-top:5%;
}

.blockquote-footer{
  padding-bottom:3%;
}

.sign-up{
  padding-bottom:5%;
}