html, body {
  background-color: #F3F3F3;
  height:100%;
}

#leftbox{
  background-color: gray;
  height: 94vh;
}
#rightbox{
  background-color: white;
  height: 94vh;
}

.containerright{
  height: 55%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.containerleft{
  height: 55%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.logo{
  margin-right: 5%;
}

a:hover{
  text-decoration: none;
}

.buttoncontainer{
  margin-top:5%;
}

footer a:hover {
  color: goldenrod;
}

footer {
  height:5%