/* html, body {
  background-color: #F3F3F3;
  height:100%;
}

#leftbox{
  background-color: gray;
  height: 94vh;
}
#rightbox{
  background-color: white;
  height: 94vh;
}

.containerright{
  height: 55%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.containerleft{
  height: 55%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.logo{
  margin-right: 5%;
}

a:hover{
  text-decoration: none;
}

.buttoncontainer{
  margin-top:5%;
} */

#leftbox{
  left: 25%;
  top: 50%;
  font-size: 6rem;
  /*transform: translateX(-50%);*/
  white-space: nowrap;
 }
 
 #rightbox{
  left: 50%;
  top: 35%;
  font-size: 6rem;
  transform: translateX(-50%);
  white-space: nowrap;
 }
 
 
 /*---------------------------------------------*/
 
 .glow {
  color: rgb(255, 255, 255);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
 }
 
 @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff
  }
 }
 
 /*---------------------------------------------*/
 
 /* .shine{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1.5s linear infinite;
 } */
 
 /* @keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
 } */
 
 /*---------------------------------------------*/
 
 
 
 :root {
  --left-bg-color: rgba(223, 39, 39, 0.1);
  --left-button-hover-color: rgba(161, 11, 11, 0.3);
  --right-bg-color: rgba(75, 75, 75, 0.6);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
 }
 
 html, body {
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
 }
 
.welcome {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
 }
 
 /*.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
 }
 
 .split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
 }
 
 .split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
 }*/
 
 .container {
  /*position: relative;*/
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
  /*display: -webkit-flex;*/
 /*  display: flex;
  overflow: hidden;*/
 
 }
 
 /*------------------------*/
 /*@media screen and (max-width: 768px) {
 
 .container { flex-direction: column; }
 
 }*/
 /*------------------------*/
 .split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
 }
 
 /*------------------------*/
 /*  @media screen and (max-width: 768px) {
 
 .split {
 
  overflow: auto;
 
  overflow-x: hidden;
 
 }
 
 }*/
 /*------------------------*/
 
 
 
 .split.left {
  left:0;
  background: url("left-welcome.jpeg") center center no-repeat;
  background-size: cover;
 }
 
 .split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
 }
 
 .split.right {
  right:0;
  background: url("right-welcome.jpeg") center center no-repeat;
  background-size: cover;
 }
 
 .split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
 }
 
 .split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
 }
 
 .hover-left .left {
  width: var(--hover-width);
 }
 
 .hover-left .right {
  width: var(--other-width);
 }
 
 .hover-left .right:before {
  z-index: 2;
 }
 
 
 .hover-right .right {
  width: var(--hover-width);
 }
 
 .hover-right .left {
  width: var(--other-width);
 }
 
 .hover-right .left:before {
  z-index: 2;
 }
 
 @media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
 
  .button {
    width: 12rem;
  }
 }
 
 @media(max-height: 700px) {
  .button {
    top: 70%;
  }
 }

 a:hover {
  color: rgba(255, 105, 180, 0);
}

