<footer class="relative-bottom">
    <div class="container-fluid text-center text-md-left">

      <div class="row">
          <H6 class="col-md-1 mb-md-0"><%= link_to "About", root_path %></H6>
          <H6 class="col-md-1 mb-md-0"><%= link_to "Contact", root_path %></H6>
          <H6 class="col-md-1 mb-md-0"><%= link_to "Help", root_path %></H6>

          <small class="col-md-9 mb-md-0 text-right">
            &copy; 2019 
            <a href="https://github.com/synmal/"> Bento Team by Malolm</a>
          </small>
      </div>
    </div>
  </footer>