<div class='d-flex justify-content-around mb-3'>
  <div class="card" style="width: 18rem;">
    <img src="https://imgplaceholder.com/420x320" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">HackerRank</h5>
      <p class="card-text">Practice your coding skills and prepare for interviews</p>
      <a href="https://www.hackerrank.com/" class="btn btn-primary">Link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://imgplaceholder.com/420x320" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Codewars</h5>
      <p class="card-text">Feeling competitive? Join Codewars now to show off you skills</p>
      <a href="https://www.codewars.com/" class="btn btn-primary">Link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://imgplaceholder.com/420x320" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">Topcoder</h5>
      <p class="card-text">TopCoder has algorithmic challenges accumulated over years of contests accessible from several popular languages. Also hosts online programming competitions several times each month.</p>
      <a href="https://www.topcoder.com/" class="btn btn-primary">Link</a>
    </div>
  </div>
</div>

<%= paginate @puzzles %>

<% @puzzles.all.each do |a| %>
  <div class="card my-2 ">
    <div class="card-body">
      <p class="card-text"><%= a.description.html_safe %></p>
    </div>
  </div>
<% end %>

<%= paginate @puzzles %>